const supertest = require("supertest");
const server = require("../app/server")

describe('server', () => {
    const global = {};
    const request = supertest(server(global));

    describe('GET non existent resource', () => {
        it("responds with 404 error", () => request.get("/skjfksjf").expect(404));
    });

    {% for controller in controllers %}
    {% for endpoint in controller.endpoints -%}
    describe('GET {{ controller.resource }}', () => {
        before(() => {
            global.index = () => new Promise((resolve, reject) => resolve({}));
        });

        it("responds with OK", () => request.get("{{ controller.resource }}").expect(200));
    });
    {%- endfor %}
    {% endfor %}

});