var {{ controllerName }} = require("../../app/controllers/{{ name }}");

describe("Test the {{ controllerName }}", () => {

{% for endpoint in endpoints -%}
    describe("{{ endpoint }}()", () => {

        it("test empty {{ endpoint }}()", (done) => {
            {{ controllerName }}.{{ endpoint }}(done);
        });
    });

{%- endfor %}

});