var {{ controllerName }} = require("../../app/controllers/{{ name }}");

describe("Test the {{ controllerName }}", () => {

{% for item in endpoints %}
    describe("{{ item.operation }}()", () => {

        it("test empty {{ item.operation }}()", (done) => {
            {{ controllerName }}.{{ item.operation }}(done);
        });
    });

{%- endfor %}

});